<ngb-alert type="warning" (close)="resetError()" *ngIf="!ventasMes && sinDatos" >  
  Error: <span style="font-weight: bold"> {{mensajeErr}} </span>
</ngb-alert>

<div *ngIf="ventasMes" class="container">
  <div class="row justify-content-md-center">
<table class="table table-hover table-sm  table-striped">
<thead>
  <tr>
  <th>Mes</th>
  <th>Kilos Act.</th>
  <th>Importe Act.</th>
  <th>Kilos Ant.</th>
  <th>Importe Ant.</th>
  <th>Ganancia Ant.</th>
  <th>Ganancia Act.</th>
  <th>Dif. Kilos</th>
  <th>Dif. Ganancia</th>
  </tr>
</thead>
    <tbody>
  <tr (mouseenter)= "actualizaMes(datosMes.mes)"  tabindex="{{datosMes.mes}}" *ngFor="let datosMes of ventasMes" style="text-align: right " >
    <td style="width: 50px"><input value="{{ datosMes.mes}}" (focus) = "actualizaMes(datosMes.mes)" readonly style="width: 40px" /></td>
    <td >{{ datosMes.kilosVentaAct| number: '1.2-2'}}</td>
    <td>{{ datosMes.impVentaAct| number: '1.2-2'}}</td>
    <td>{{ datosMes.kilosVentaAnt| number: '1.2-2'}}</td>
    <td>{{ datosMes.impVentaAnt| number: '1.2-2' }}</td>
    <td>{{ datosMes.gananAct | number: '1.2-2'}}</td>
    <td>{{ datosMes.gananAnt | number: '1.2-2'}}</td>
    <td>{{ datosMes.kilosVentaAct - datosMes.kilosVentaAnt | number: '1.2-2' }} </td>
    <td>{{ datosMes.gananAct - datosMes.gananAnt | number: '1.2-2'}}</td>
  </tr>
  </tbody>
</table>
<app-datos-mes [mes]=month [year]=year [ventasSemana]=ventasSemana></app-datos-mes>